{% render 'partials/head.liquid' %}

{% render 'partials/head.liquid' %}

<main>
    <details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>

	<input type="checkbox" id="button-visite" name="active" value="1">
	<input type="checkbox" id="button-Mediahuis" name="active" value="2">
	<input type="checkbox" id="button-Accessdash" name="active" value="3">
	<input type="checkbox" id="button-ilw" name="active" value="4">

	<section class="kaartje">
    	<h1>{{ person.name }}</h1>
    	<img class="img-profile" src="assets/profile-picture.png" alt="Profile picture">
		<p>Ik ben Viresh bekijk mijn vooruitgang door mijn projecten in de websites hieronder</p>
		<ul class="ul-buttons">
			{% for project in custom.projects limit: 4 %}
			<li><label for="{{ project.id }}">{{ project.name }}</label></li>
			{%- endfor %}
		</ul>
	</section>
	<section class="visitekaartje slide-info">
		{% for info in custom.projects limit: 4 %}
		<p class="{{ info.style }}">{{ info.description }} <a href="{{ info.liveSite }}">{{ info.name }}</a></p>
		{%- endfor %}
	</section>
</main>

{% render 'partials/foot.liquid' %}


{% render 'partials/foot.liquid' %}