{% render 'partials/head.liquid' %}

{% render 'partials/head.liquid' %}

<main>
    <details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>

	<input type="checkbox" id="button-visite" name="active" value="1">
	<input type="checkbox" id="button-Mediahuis" name="active" value="2">
	<input type="checkbox" id="button-Accessdash" name="active" value="3">
	<input type="checkbox" id="button-ilw" name="active" value="4">

	<section class="kaartje">
    	<h1>{{ person.name }}</h1>
    	<img class="img-profile" src="assets/profile-picture.png" alt="Profile picture">
		<p>Ik ben Viresh bekijk mijn vooruitgang door mijn projecten in de websites hieronder</p>
		<ul class="ul-buttons">
			{% for project in custom.projects %}
			{% if forloop.index == 1 %}
			<li><label for="button-visite">{{ project.name }}</label></li>
			{%- endif -%}

			{% if forloop.index == 2 %}
			<li><label for="button-Mediahuis">{{ project.name }}</label></li>
			{%- endif -%}

			{% if forloop.index == 3 %}
			<li><label for="button-Accessdash">{{ project.name }}</label></li>
			{%- endif -%}

			{% if forloop.index == 4 %}
			<li><label for="button-ilw">{{ project.name }}</label></li>
			{%- endif -%}
			{%- endfor %}
		</ul>
	</section>
	<section class="visitekaartje slide-info">
		{% for project in custom.projects %}

		{% if forloop.index == 1 %}
		<p class="visite-info">In sprint 1 heb ik ook een visitekaartje ontworpen. Dit was de eerste website die ik voor deze opleiding heb gemaakt. Je kunt het visitekaartje <a href="{{ project.liveSite }}">hier</a> bekijken.</p>
		{%- endif -%}

		{% if forloop.index == 2 %}
		<p class="visite-Mediahuis">Bij het begin van sprint 2 kreeg ik de opdracht van een opdrachtgever om een overzichtspagina te maken van de sites van Veronica, Slam, 100%.nl en Sublime. <a href="{{ project.liveSite }}">Zo</a> heb ik het aangepakt.</p>
		{%- endif -%}

		{% if forloop.index == 3 %}
		<p class="visite-Accessdash">In Sprint 6 kreeg ik de kans om alles wat ik in de voorgaande sprints heb geleerd te laten zien. De opdracht was om een website, genaamd AccessDah, te maken op basis van een Figma-prototype. <a href="{{ project.liveSite }}">Dit</a> is het eindresultaat.</p>
		{%- endif -%}

		{% if forloop.index == 4 %}
		<p class="visite-ilw">Bekijk mijn I Love Web, <a href="{{ project.liveSite }}">hier</a> maak ik samenvattingen, leg ik code uit en houd ik mijn vooruitgang bij.</p>
		{%- endif -%}
		{%- endfor %}
	</section>
</main>

{% render 'partials/foot.liquid' %}


{% render 'partials/foot.liquid' %}