{% render 'partials/head.liquid' %}

{% render 'partials/head.liquid' %}

<main>
	{% for projectCheckbox in custom.projects limit: 4 %}
	<input type="checkbox" id="{{ projectCheckbox.id }}" name="active" value="{{ projectCheckbox.value }}">
	{%- endfor %}

	<section class="kaartje">
    	<h1>{{ person.name }}</h1>
    	<img class="img-profile" src="assets/profile-picture.png" alt="Profile picture">
		<p>Ik ben Viresh bekijk mijn vooruitgang door mijn projecten in de websites hieronder</p>
		<ul class="ul-buttons">
			{% for projectName in custom.projects limit: 4 %}
			<li><label for="{{ projectName.id }}">{{ projectName.name }}</label></li>
			{%- endfor %}
		</ul>
	</section>

	<section class="visitekaartje slide-info">
		{% for Projectinfo in custom.projects limit: 4 %}
		<p class="{{ Projectinfo.style }}">{{ Projectinfo.description }} <a href="{{ Projectinfo.liveSite }}">{{ Projectinfo.name }}</a></p>
		{%- endfor %}
	</section>
</main>

{% render 'partials/foot.liquid' %}


{% render 'partials/foot.liquid' %}